mat-card {

}

.container{
	padding: 24px;
}
.responsive-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(380px, 1fr));
	gap: 24px;
}
mat-card-content > span{
	font-size: 13px;
}
mat-card-content{
	overflow: hidden;
}
mat-card-header{
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
mat-card-actions{
	border-top: 1px solid #eee;
	padding-top: 5px;
	margin-top: 8px;
}
mat-card-title > button{
	float: right;
	margin-left: 10px;
}
.spacer{
	flex: 1 1 auto;
}
mat-card-title{
	display: flex;
  justify-content: space-between;
  align-items: center;
}