<h2>Enlaces</h2>
<div class="container responsive-grid">
	<mat-card appearance="outlined">
		<mat-card-header>
			<mat-card-title>
				<span>PQR Facturación</span> 
				<button type="button" (click)="billingPqrRefresh()" mat-mini-fab > 
					<mat-icon>refresh</mat-icon>
				</button>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				El siguiente enlace ha sido configurado en la aplicación con el propósito de mostrar un formulario de facturación. Este formulario permitirá a los usuarios cargar sus reclamaciones de manera eficiente a través de esta plataforma.

Para proceder, es necesario que usted elabore el formulario correspondiente. Una vez que haya completado este proceso, le solicitamos que se comunique con el administrador para gestionar la carga del enlace en la aplicación.

Si necesita asistencia adicional o tiene alguna consulta, no dude en ponerse en contacto.
			</p>
			<span>{{billingUrl}}</span>
			@if (waitBillingSpinner) {
				<mat-spinner></mat-spinner>
			}
		</mat-card-content>
		<mat-card-actions align="end">
			@if (hasBillingUrl ) { 
				<a href="{{billingUrl}}"
					target="_blank"
					mat-stroked-button> 
					<mat-icon>receipt_long</mat-icon>
					ir
				</a> 
			}
		</mat-card-actions>
	</mat-card>
	<mat-card appearance="outlined">
		<mat-card-header>
			<mat-card-title>
				<span>PQR General </span>
				<button type="button" (click)="generalPqrRefresh()" mat-mini-fab >
					<mat-icon>refresh</mat-icon>
				</button>
			</mat-card-title> 

		</mat-card-header>
		<mat-card-content>
			<p>
				En el siguiente enlace se ha configurado un formulario para la presentación de PQR (Peticiones, Quejas y Reclamos) generales, lo que permitirá a los usuarios cargar sus reclamaciones de forma sencilla y accesible.

Para utilizar esta funcionalidad, es necesario que usted elabore el formulario correspondiente. Una vez completado, deberá comunicar al administrador el enlace del formulario para que este pueda ser incorporado en la aplicación.

Si requiere asistencia adicional o tiene alguna pregunta, no dude en ponerse en contacto.
			</p>
			<span>{{generalUrl}}</span>
			@if (waitGeneralSpinner) {
				<mat-spinner></mat-spinner>	
			}
			
		</mat-card-content>
		<mat-card-actions align="end">
			@if (hasGeneralUrl ) { 
				<a href="{{generalUrl}}"
					target="_blank"
					mat-stroked-button> 
					<mat-icon>description</mat-icon>
					ir 
				</a> 
			}
		</mat-card-actions>
	</mat-card>
</div>
