<h2>Carpetas Compartidas</h2>
<div class="container responsive-grid">
	<mat-card appearance="outlined">
		<mat-card-header>
			<mat-card-title>
				<span>Carpeta Compartida Imagenes</span> 
				<button type="button" (click)="imagesSharedRefresh()" mat-mini-fab >
					<mat-icon>refresh</mat-icon>
				</button>
			</mat-card-title>

		</mat-card-header>
		<mat-card-content>
			<p>
			A través del siguiente enlace, tiene la oportunidad de cargar imágenes que se visualizarán en la ventana principal de la aplicación, permitiendo a los usuarios acceder a ellas de manera sencilla. Es importante destacar que el orden en que las imágenes se presentan está influenciado por el nombre con el que se cargan; por lo tanto, le sugerimos que tenga en cuenta esta consideración al nombrar sus archivos.

Adicionalmente, algunas imágenes se encuentran preestablecidas en la aplicación. Si desea realizar modificaciones en estas imágenes predeterminadas, le solicitamos que se comunique con el administrador para obtener asistencia.
</p>
			<span>{{imagesFolder}}</span>
			@if (waitImageSpinner) {
				<mat-spinner></mat-spinner>	
			}
			<br/>
			@if (hasEmailUserDrive ) { 
				<span>Agrega este correo con acceso de lectura y escritura: {{emailUserDrive}}</span>
			}
			@if (waitEmailUserDriveSpinner) {
				<mat-spinner></mat-spinner>	
			}
		</mat-card-content>
		<mat-card-actions align="end">
			@if (hasImagesFolder ) { 
				<a href="https://drive.google.com/drive/folders/{{imagesFolder}}"
					target="_blank"
					mat-stroked-button> 
					<mat-icon>photo_library</mat-icon>
					ir
				</a> 
			}
		</mat-card-actions>
	</mat-card>
	<mat-card appearance="outlined">
		<mat-card-header>
			<mat-card-title>
				<span>Carpeta Compartida archivos </span>
				<button type="button" (click)="filesSharedRefresh()" mat-mini-fab >
					<mat-icon>refresh</mat-icon>
				</button>
			</mat-card-title> 
		</mat-card-header>
		<mat-card-content>
			<p>
			A través del siguiente enlace, tiene la posibilidad de cargar archivos que serán posteriormente exhibidos en la sección de archivos de la aplicación. Esta funcionalidad permitirá a los usuarios acceder a los documentos cargados, ofreciéndoles la opción de descargarlos o visualizarlos directamente desde la plataforma.
			</p>
			<span>{{filesFolder}}</span>
			@if (waitFolderSpinner) {
				<mat-spinner></mat-spinner>	
			}
			<br/>
			@if (hasEmailUserDrive ) { 
				<span>Agrega este correo con acceso de lectura y escritura: {{emailUserDrive}}</span>
			}
			@if (waitEmailUserDriveSpinner) {
				<mat-spinner></mat-spinner>	
			}
		</mat-card-content>
		<mat-card-actions align="end">
			@if (hasImagesFolder ) { 
				<a href="https://drive.google.com/drive/folders/{{filesFolder}}"
					target="_blank"
					mat-stroked-button> 
					<mat-icon>folder</mat-icon>
					ir 
				</a> 
			}
		</mat-card-actions>
	</mat-card>
</div>
