header{
	background: #bbc4fe;
	border-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
header > ul{
	list-style-type: none;
	display: block ruby;
}
header > ul > li:last-child{
	float: right;
	padding-top: 20px;
	padding-right: 10px;
}
body{
	display: flex;
	flex-direction: column;
}
main > p {
	text-align: justify;
}

header, main, footer{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
main{
	padding: 15px;
}

footer{
	text-align: right;
  	border-top: solid 1px #bbc4fe;
  	padding-top: 10px;
}