mat-form-field{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
nav {
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 15px;
	background-color: lightgrey;
	margin-bottom: 10px;
}
nav > a {
	text-decoration: underline;
	cursor: pointer;
}
.messages{
	margin: 20px;
	padding: 10px;
	background-color: lightyellow;
}
.span-center{
	padding-left: 5px;
	vertical-align: super;
}
.title{
	margin-bottom: 15px;
}
mat-card{
	margin: 15px;
}
mat-card-header{
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
	margin-bottom: 20px;
}
mat-card-title{
	text-align: center;
}
button{
	margin-right: 20px;
}