main > p {
	text-align: justify;
}

.spacer{
	flex: 1 1 auto;
}
header > mat-toolbar {
	background: #bbc4fe;;
}
body{
	align-items: normal;
}

header{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}