
.body{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
div > div > p {
	text-align: justify;
}

.body > div:last-child{
	text-align: right;
  	border-top: solid 1px #bbc4fe;
  	padding-top: 10px;
  	margin-top: 20px;
  	margin-bottom: 10px;
  	position: fixed;
  	bottom: 10px;
  	width: 900px;
  	background: white;
}
.spacer{
	flex: 1 1 auto;
}
div > mat-toolbar {
	background: #bbc4fe;;
}