<nav>
  <a routerLink="/main" (click)="goMain()">Principal</a> > Mensajes
</nav>
<form  (ngSubmit)="onSubmit()">
	<span>Mensaje a Todos los dispositivos moviles con la app instalada</span>
	<br/>
	<input type="text" [(ngModel)]="title" placeholder="Ingrese Titulo del mensaje" />
	<br/>
	<textarea [(ngModel)]="message" rows="10" columns="40" placeholder="Ingrese el mensaje a enviar"></textarea>
	
	<div>
		<button type="submit">Enviar</button>
		<button (click)="clean()">Limpiar</button>
	</div>

</form>