
<div class="login">
	@if (isLogged){
		<div>
			<span>{{email}}</span>
			<button mat-mini-fab (click)="logOut()" >
				<mat-icon>logout</mat-icon>
			</button>
		</div>
		<div [ngClass]="{'remainder': clockState==='normal', 'remainder_close': clockState === 'close', 'remainder_end': clockState === 'end'}">
			<span >{{remainder}}</span>
			<button mat-mini-fab (click)="renew()" [disabled]="isEnableToGetRenewToken">
				<mat-icon>autorenew</mat-icon>
			</button>
		</div>
	}@else{

		<button mat-fab extended (click)="logIn()">
			<mat-icon>login</mat-icon>
		Iniciar Sessión con Google
		</button>
	}
</div>
